mixin footer()
	+b.FOOTER.footer Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nemo quod ipsa, similique sequi excepturi sint nihil obcaecati possimus, sed beatae omnis architecto aliquid iusto magni reiciendis minus optio dolor harum?