mixin form-body()
	+form-wrap
		.row
			.col-lg-6 
				// вешать класс invalid
				+input('Ваше имя')(required)
				+input('Телефон или e-mail')(required)

			.col-lg-6 
				+input('Ваше сообщение','textarea')( required)
			.col-lg-6.order-lg-last
				+add-file
			.col-lg-6
				+polite
		.row
			.col-lg-6
			.col-lg-6
				+btn-primary('Отправить')
mixin sForm(modal)
	// start sForm
	if modal 
		+b.sForm--modal&attributes(attributes)
			.container
				if block
					block
				else
					h3 Задать вопрос
					p Возникли вопросы? Пожалуйста, заполните форму, или позвоните по телефону: #[a.tdn(href="tel:+73472210790") +7 (347) 221-07-90]
				+form-body()
	else
		+b.SECTION.sForm.section&attributes(attributes) 
			.container
				.section__inner.mb-0
					if block
						block
					else
						h3 Задать вопрос
						p Возникли вопросы? Пожалуйста, заполните форму, или позвоните по телефону: #[a.tdn(href="tel:+73472210790") +7 (347) 221-07-90]
					+form-body()
	// end sForm