// start .sAboutText
.sAboutText {
	// --sPT: 0;
	padding-top: calc(var(--sPT) * 1.7);
	--sTPB: #{rem(30)};
	--sPB: #{rem(50)};
	@include media-breakpoint-up(md) {
		padding-top: 0;
		--sTPB: #{rem(68)};
		--sPB: #{rem(95)};
	}
	@include media-breakpoint-up(lg) {
		--sTPB: #{rem(35)};
		--sPB: #{rem(60)};
	}
	@include media-breakpoint-up(xl) {
		padding-top: calc(var(--sPT) / 6.5);
		--sTPB: #{rem(75)};
		--sPB: #{rem(95)};
	}
	@include media-breakpoint-up(xxl) {
		--sPB: #{rem(78)};
		--sTPB: #{rem(65)};
	}
	@include media-breakpoint-up(xxxl) {
		--sPB: #{rem(135)};
		padding-top: calc(var(--sPT) / 1.2);
	}

	position: relative;

	h2 {
		@extend .h1;
	}

	.section-title {
		@include media-breakpoint-only(lg) {
			max-width: rem(850);
		}
	}

	&__numb {
		font-size: var(--h1-font-size);
		font-weight: 600;

		@include media-breakpoint-only(xl) {
			margin-bottom: 6px;
		}
		@include media-breakpoint-only(lg) {
			margin-bottom: 6px;
		}
	}

	&__row {
		position: relative;
		z-index: 2;
		@include media-breakpoint-up(xxl) {
			@include roww(20px);
		}
	}

	&__roww {
		@include media-breakpoint-up(xl) {
			max-width: rem(980);
			@include roww(100px);
		}
		@include media-breakpoint-up(xxl) {
			max-width: rem(1010);
		}
		@include media-breakpoint-only(lg) {
			margin-bottom: rem(28);
		}
		@include media-breakpoint-only(md) {
			margin-bottom: rem(59);
		}

		@include media-breakpoint-down(md) {
			margin-bottom: rem(22);
		}

		p {
			@include media-breakpoint-only(lg) {
				max-width: rem(290);
			}
		}
	}

	&__txtWrap {
		border-bottom: solid 2px #fff;
		margin-bottom: rem(33);
		@include media-breakpoint-up(md) {
			margin-bottom: rem(60);
		}
		@include media-breakpoint-up(lg) {
			margin-bottom: rem(33);
		}
		@include media-breakpoint-up(xl) {
			margin-bottom: rem(65);
			max-width: rem(870);
		}
		@include media-breakpoint-up(xxl) {
			margin-bottom: rem(52);
			max-width: rem(896);
		}
		@include media-breakpoint-only(lg) {
			padding-bottom: rem(25);
		}
		@include media-breakpoint-only(md) {
			padding-bottom: rem(63);
		}
		@include media-breakpoint-down(md) {
			padding-bottom: rem(20);
		}
	}

	&__numRow {
		@include media-breakpoint-down(md) {
			padding-bottom: rem(10);

			p {
				margin-bottom: 0;
			}
		}
	}

	&__txtCol {
		display: flex;
		flex-direction: column;
		padding-bottom: rem(40);
		@include media-breakpoint-up(xxl) {
			padding-bottom: rem(43);
		}
	}

	&__text {
		padding-top: rem(7);
		padding-bottom: rem(10);
		margin-bottom: auto;
	}

	p {
		line-height: calc(32 / 18);
	}

	&__decor {
		position: absolute;

		&--l {
			left: -500px;
			bottom: -200px;
		}
		&--r {
			right: -550px;
			bottom: 50%;
			@include media-breakpoint-up(xl) {
				right: -500px;
				bottom: 60%;
			}
		}
	}
	@include media-breakpoint-up(sm) {
	}
	@include media-breakpoint-between(md, xxl) {
	}
	@include media-breakpoint-only(xl) {
	}
	@include media-breakpoint-down(xl) {
	}
} // end.sAboutText
