mixin sAboutText(data)
	// start sAboutText
	+b.SECTION.sAboutText.section#sAboutText(class="wow  animate__fadeInUp" data-wow-delay="0.1s" )&attributes(attributes)
		//- +e.decor--r
		//- 	img(src="img/@2x/decor-2.png" alt="")
		//- +e.decor--l.d-none.d-xxl-block
		//- 	img(src="img/@2x/decor-3.png" alt="")
		.container


			+e.row.row
				+e.col.col-xl-9 
					+e.txtWrap
						+b.section-title
							h2 #[span.text-primary Компания АРТЕХ] - это профессиональный подход в промышленной автоматизации
						.d-xl-none 
							p Специалисты нашей компании работают на&nbsp;рынке робототехники более десяти лет. На&nbsp;наших глазах и&nbsp;нашими руками промышленная роботизация возрождалась в&nbsp;России.
							p Узнайте подробнее о&nbsp;том, почему мы&nbsp;выбрали для себя направление по&nbsp;автоматизации групповой упаковки и&nbsp;укладки, почему мы&nbsp;считаем, что глубокие знания технологии упаковки необходимы для нашей работы, узнайте историю развития нашей компании, наши цели и&nbsp;планы.
					+e.roww.row 
						mixin col(n, t)
							.col-md-4
								+e.numRow.row.align-items-center
									.col-2.col-md-12
										+e.numb.counter-js= n
									.col
										p!= t
						+col('40',`Решений установили на&nbsp;базе промышленных роботов для 31&nbsp;компаний`)
						+col('58',`Промышленных роботов внедрили для наших клиентов`)
						+col('25',`Профессиональных сотрудников в&nbsp;компании на&nbsp;2020 год`)
				+e.txtCol.col 
					+e.text.d-none.d-xl-block
						p Специалисты нашей компании работают на&nbsp;рынке робототехники более десяти лет. На&nbsp;наших глазах и&nbsp;нашими руками промышленная роботизация возрождалась в&nbsp;России.
						p Узнайте подробнее о&nbsp;том, почему мы&nbsp;выбрали для себя направление по&nbsp;автоматизации групповой упаковки и&nbsp;укладки, почему мы&nbsp;считаем, что глубокие знания технологии упаковки необходимы для нашей работы, узнайте историю развития нашей компании, наши цели и&nbsp;планы.
					div
						+btn-primary
	// end sAboutText