// start .sEquipments
.sEquipments {
	// --sPT: ;
	--sPB: #{rem(30)};
	// --sTPB: ;
	.sitebar{
		width: 100%;
		@include media-breakpoint-up(lg) {
			margin-bottom: rem(18);
		}
	}
	.row{
		--bs-gutter-x: 24px;
	}
	&__item{
		min-height: calc(100% - var(--bs-gutter-x));
		margin-bottom: var(--bs-gutter-x);
		background-color: #fff;
		overflow: hidden;
			@include mt;
	@include h() {
		box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.1);
		img{
			transform: scale(1.04);
		}
	}
		picture{
			background: #D4D4D4;
			overflow: hidden; 
			@include media-breakpoint-up(lg) {
			--ratio:1;
			}
			@include block(540, 400);
			img{
				@include mt;
				@include a-cent;
				// max-width: 90%;
				// max-height: 90%;
			}
			
		}
	}
	&__caption{
		padding: rem(17) rem(24) ;
		padding-right: rem(10);
		position: relative;
		
		top: 0;
		@include media-breakpoint-up(lg) {
			// padding-bottom: 0;
		}
		background-color: #fff;
		@include mt;
		position: relative;
	}
	&__btn{
		@extend .btn;
		@extend .btn-primary;
		@include mt;
		// transform: scaleY(0);
		margin-top: 10px;
		@include media-breakpoint-up(lg) {
			position: absolute;
			opacity: 0;
			// transform: scaleY(0);
			transform: translateY(100%);
			transform-origin: left top;
			 
			overflow: hidden; 
			// bottom: 0;
		}
	}
	--bth-sp: #{rem(15)};
	@include media-breakpoint-up(lg) {
		// --bth-sp: #{rem(25)};
		--bth-y: #{rem(45)};
		&__item:hover &__caption{
		top: calc(-1*(var(--bth-y) + 15px));
		
	}
	&__title{
		// margin-bottom: -10px;
		a{
			color: $body-color !important;
			text-decoration: none !important;
		}
	}
	&__item:hover &__btn{
		opacity: 1; 
		transform: translateY(0);
	}
}

	@include media-breakpoint-up(sm) {
	}
	@include media-breakpoint-between(md, xxl) {
	}
	@include media-breakpoint-only(xl) {
	}
	@include media-breakpoint-down(xl) {
	}
} // end.sEquipments