mixin eq-item(t='Транспортные системы')
	+e.item 
		a(href="#") 
			+pic('eq.png','',0)
		+e.caption 
			+e.title.fw-600
				a(href="#")= t
			+e.btn(href="#") Подробнее

mixin sEquipments(data)
	// start sEquipments
	+b.sEquipments.section.pt-0&attributes(attributes)
		.container
			.row
				
				+e.col.col-xl-3.col-lg-4.col-sm-6
					+eq-item("Формирователи гофрокоробов")
				// /+e.col.col-xl-3.col-lg-4
				
				+e.col.col-xl-3.col-lg-4.col-sm-6
					+eq-item("Транспортные системы")
				// /+e.col.col-xl-3.col-lg-4
				
				+e.col.col-xl-3.col-lg-4.col-sm-6
					+eq-item("Маркировка")
				// /+e.col.col-xl-3.col-lg-4
				
				+e.col.col-xl-3.col-lg-4.col-sm-6
					+eq-item("Захваты")
				// /+e.col.col-xl-3.col-lg-4
				
				+e.col.col-xl-3.col-lg-4.col-sm-6
					+eq-item("Обмотчики поддонов")
				// /+e.col.col-xl-3.col-lg-4
				
				+e.col.col-xl-3.col-lg-4.col-sm-6
					+eq-item("Диспенсеры пленки")
				// /+e.col.col-xl-3.col-lg-4
				
				+e.col.col-xl-3.col-lg-4.col-sm-6
					+eq-item("Кейспакер")
				// /+e.col.col-xl-3.col-lg-4
				
	// end sEquipments
mixin sEquipments5(data)
	// start sEquipments
	+b.sEquipments.section.pt-0&attributes(attributes)
		.container
			.row
				.col-lg-3
					+sitebar()
						ul
							li
								+b.sitebar-link--cat.active(href="#") Формирователи гофрокоробов
									+e.count 12
							li
								+b.sitebar-link--cat(href="#") Транспортные системы
									+e.count 12
							li
								+b.sitebar-link--cat(href="#") Маркировка
									+e.count 12
							li
								+b.sitebar-link--cat(href="#") Захваты
									+e.count 12
							li
								+b.sitebar-link--cat(href="#") Обмотчики
									+e.count 12
							li
								+b.sitebar-link--cat(href="#") Диспенсеры пленки
									+e.count 12
				.col
					.row
						- for (var x = 0; x < 6; x++)
							+e.col.col-lg-4.col-sm-6
								+eq-item(`Автоматический обмотчик поддонов Производитель Atlanta Revolution LS (Италия)`)
							// /+e.col.col-xl-3.col-lg-4
					
	// end sEquipments