
mixin modal() 
	//  start modals

	+b.modal-win(id="modal-call" class=" " style="display: none" )
		+sForm('modal')
			h3 Разработаем решение<br> 
				span.text-primary под ваши задачи
			p.mw Возникли вопросы? Пожалуйста, заполните форму, или позвоните по телефону: #[a(href="tel:+73472210790") +7 (347) 221-07-90]
	// #modal-call


	+b.modal-win(id="modal-search" class=" " style="display: none" )
		+form-wrap
			.container
				+e.wrap
					+input("Начните поиск")(required)  
					+e.BUTTON.btn.btn(type="submit")
						+icon('search')

	+b.modal-win(id="modal-thanks" class=" " style="display: none" )
		+form-wrap
			.text-center
				h3 Спасибо за обращение!
				p Мы&nbsp;свяжемся с&nbsp;Вами в&nbsp;ближайшее время, как только получим вашу заявку.
				+e.BUTTON.btn.btn.btn-primary(type="button") Закрыть
	// #modal-search
	// end modals