$output-bourbon-deprecation-warnings: false;
// @import "mq";
@import "bourbon/app/assets/stylesheets/bourbon";
// @import "../../node_modules/rfs/scss";

@import "mixin";
@import "fonts";
@import "_sprite";
// @import "bootstrap-theme/bootstrap";

// Option B: Include parts of Bootstrap

// v5

// Layout & components

@import "./node_modules/bootstrap/scss/functions";
@import "vars";
@import "./node_modules/bootstrap/scss/functions";
@import "./node_modules/bootstrap/scss/variables";
@import "./node_modules/bootstrap/scss/mixins";
@import "./node_modules/bootstrap/scss/utilities";

// Layout & components
@import "./node_modules/bootstrap/scss/root";
@import "./node_modules/bootstrap/scss/reboot";
@import "./node_modules/bootstrap/scss/type";
// @import "./node_modules/bootstrap/scss/images";
@import "./node_modules/bootstrap/scss/containers";
@import "./node_modules/bootstrap/scss/grid";
@import "./node_modules/bootstrap/scss/tables";
@import "./node_modules/bootstrap/scss/forms";
@import "./node_modules/bootstrap/scss/buttons";
// @import "./node_modules/bootstrap/scss/transitions";
// @import "./node_modules/bootstrap/scss/dropdown";
// @import "./node_modules/bootstrap/scss/button-group";
// @import "./node_modules/bootstrap/scss/nav";
// @import "./node_modules/bootstrap/scss/navbar";
// @import "./node_modules/bootstrap/scss/card";
// @import "./node_modules/bootstrap/scss/accordion";
@import "./node_modules/bootstrap/scss/breadcrumb";
// @import "./node_modules/bootstrap/scss/pagination";
// @import "./node_modules/bootstrap/scss/badge";
// @import "./node_modules/bootstrap/scss/alert";
// @import "./node_modules/bootstrap/scss/progress";
// @import "./node_modules/bootstrap/scss/list-group";
// @import "./node_modules/bootstrap/scss/close";
// @import "./node_modules/bootstrap/scss/toasts";
// @import "./node_modules/bootstrap/scss/modal";
// @import "./node_modules/bootstrap/scss/tooltip";
// @import "./node_modules/bootstrap/scss/popover";
// @import "./node_modules/bootstrap/scss/carousel";
// @import "./node_modules/bootstrap/scss/spinners";
// @import "./node_modules/bootstrap/scss/offcanvas";

// Helpers
@import "./node_modules/bootstrap/scss/helpers";

// Utilities
@import "./node_modules/bootstrap/scss/utilities/api";
// scss-docs-end import-stack

.breadcrumb-item + .breadcrumb-item {
	padding-left: 0;
}
.breadcrumb-item + .breadcrumb-item a{
	padding-left: rem(13);
	
	&:before {
		content:  url("../img/svg/chevron-right.svg");
		background-position: center;
		background-repeat: no-repeat;
		display: inline-block;
		width: 10px;
		height: 100%;
		margin-right: rem(13);
		margin-top: 1px;
	}
}
.breadcrumb-item+.breadcrumb-item:before {

	display: none;
}
.breadcrumb {
	padding-top: rem(30);
	display: block;
	&::before{
	}
	li{
		display: inline;
		position: relative;
	}
	@include media-breakpoint-up(md) {
		// padding-top: rem(30);
		padding-top: rem(30);
	}
	@include media-breakpoint-up(xxl) {
		// padding-top: rem(20);
	}
	@include media-breakpoint-down(xxl) {
		margin-bottom: 0.8rem;
	}
	a {
		text-decoration: none;
		color: $body-color;

		&:hover {
			color: #8f9597;
		}
	}
	.active {
		a {
			color: #8f9597;
			// color: $breadcrumb-active-color;
			pointer-events: none;
		}
	}

	&.light {
		a {
			color: #fff;
			&:hover {
				color: #8f9597;
			}
		}

		.active {
			a {
				color: #8f9597;
			}
		}
	}
}
.pagination-wrapper li .page-numbers.disabled{
	opacity: 0.5;
	pointer-events: none;
}
.pagination-wrapper li .page-numbers.disabled:hover,
.pagination-wrapper li .page-numbers.default:hover{
	background-color: #fff;
	color: $body-color;
}
@import "./node_modules/bootstrap/scss/pagination";

.pagination-wrapper ul {
	@extend .pagination;
	@include roww(10px);
	justify-content: center;
	padding-top: rem(30);
}
.page-numbers{
	padding-bottom: 0 !important;
	margin-bottom: 0 !important;
}
.pagination-wrapper li .page-numbers {
	margin-bottom: 0 !important;
	@extend .page-link;
	border-radius: 50%;
	color: #8f9597;
	width: rem(45px);
	height: rem(45px);
	display: flex;
	align-items: center;
	justify-content: center;

	.icon {
		color: $primary;
		font-size: rem(12);
	}
}

.pagination-wrapper li a.page-numbers:hover {
	.icon {
		color: #fff;
	}
}

.pagination-wrapper li span.page-numbers {
	pointer-events: none;
}

.pagination-wrapper li {
	@extend .page-item;

	.current {
		z-index: 1;
		color: $pagination-active-color;
		background-color: $pagination-active-bg;
		border-color: $pagination-active-border-color;
		font-weight: 600;
	}
}
@import "root";
@import "base";
@import "../pug/blocks/**/*.scss";
@import "media"; // Всегда в конце
