// start .headerBlock
.headerBlock {
	margin-bottom: 1px;
	// min-height: 100vh;
	// min-height: calc(var(--vh, 1vh) * 100);
	position: relative;
	z-index: 2;
	// background-image: url(../img);
	// background-color: #000000;
	--sTPB: #{rem(111)};
	--sPB: 0;

	.section-title {
		max-width: rem(930);
	}

	h1 {
		margin-bottom: 1px;
	}

	h2 {
		margin-bottom: 1px;
	}

	&__decor {
		position: absolute;
		z-index: -1;

		&--r {
			right: rem(-173px);
			top: 0;
		}

		&--l {
			left: rem(-460px);
			top: 100%;
		}
	}

	@include media-breakpoint-up(xs) {
	}
	@include media-breakpoint-between(md, xl) {
	}
	@include media-breakpoint-only(xl) {
	}
	@include media-breakpoint-down(xs) {
	}
} // end.headerBlock

.scrollBottom {
	display: flex;
	align-items: center;
	text-decoration: none;

	&__count {
		position: relative;
	}

	.icon {
		color: $primary;
		font-size: rem(25);
		@include a-cent;
	}

	&__text {
		color: $body-color !important;
		margin-left: rem(15);
	}
}
