mixin headerBlock()
	// start headerBlock
	+b.headerBlock.section#headerBlock&attributes(attributes)
		.container
			+b.section-title
				h1 #[span.text-primary Решения и&nbsp;оборудование] для&nbsp;групповой упаковки и&nbsp;укладки на&nbsp;поддон
			+b.scrollBottom.scroll-link(href="#sAbout")
				+e.count 
					+e.img
						<svg class="scrollBottom__svg" width="120" height="120" viewBox="0 0 120 120">
							<circle cx="60" cy="60" r="54" fill="none" stroke="#D8D8D8" stroke-width="4" />
							<circle class="scrollBottom__value" cx="60" cy="60" r="54" fill="none" stroke="#00B2FF" stroke-width="4" />
						</svg>
					+icon('arrow-bottom')
				+e.text Листайте вниз

		+e.decor--r
			//- img(src="img/@2x/decor.png" alt="" loading="lazy")
			img(src="img/@2x/decor.png" alt="")
		+e.decor--l.d-none.d-lg-block
			//- img(src="img/@2x/decor.png" alt="" loading="lazy")
			img(src="img/@2x/decor.png" alt="")


	// end headerBlock