// start .headerBlock
.headerBlock {
	margin-bottom: 1px;
	// min-height: 100vh;
	// min-height: calc(var(--vh, 1vh) * 100);
	position: relative;
	z-index: 2;
	// background-image: url(../img);
	// background-color: #000000;

	--sTPB: #{rem(45)};
	@include media-breakpoint-up(lg) {
		--sTPB: #{rem(85)};
	}
	@include media-breakpoint-up(xl) {
		--sPB: 0;
	}
	@include media-breakpoint-up(xxl) {
		--sTPB: #{rem(100)};
	}
	@include media-breakpoint-only(xxl) {
		--sPT: #{rem(75)};
	}
	@include media-breakpoint-only(xl) {
		--sPT: #{rem(83)};
	}
	@include media-breakpoint-only(lg) {
		--sPT: #{rem(53)};
	}
	@include media-breakpoint-only(md) {
		--sPT: #{rem(105)};
	}
	@include media-breakpoint-down(md) {
		--sPT: #{rem(73)};
	}

	.section-title {
		max-width: rem(930);
	}

	h1 {
		margin-bottom: 1px;
	}

	h2 {
		margin-bottom: 1px;
	}

	&__decor {
		position: absolute;
		z-index: -1;

		&--r {
			top: 10px;
			right: rem(-500px);
			@include media-breakpoint-up(md) {
				right: rem(-570px);
				top: -10px;
			}
			@include media-breakpoint-up(xl) {
				right: rem(-173px);
			}
		}

		&--l {
			top: 100%;
			left: rem(-660px);
			@include media-breakpoint-up(xl) {
				left: rem(-460px);
				top: 70%;
			}
		}
	}

	@include media-breakpoint-up(xs) {
	}
	@include media-breakpoint-between(md, xl) {
	}
	@include media-breakpoint-only(xl) {
	}
	@include media-breakpoint-down(xs) {
	}
} // end.headerBlock

.scrollBottom {
	display: inline-flex;
	align-items: center;
	text-decoration: none;
	// transition: none;

	&__count {
		position: relative;
	}

	.icon {
		color: $primary;
		font-size: rem(25);
		@include a-cent;
	}

	&__text {
		color: $body-color !important;
		margin-left: rem(15);
		@include media-breakpoint-between(md, xxl) {
			margin-left: rem(25);
		}
	}

	&__svg {
		width: rem(60);
		// transform: rotate(-90deg);
		// @include mt;
	}

	&__value {
		stroke-dasharray: 254.469;
		stroke-dashoffset: 254.469;
		@include mt(1s);
		// transition: all 1s linear;
	}

	&:hover {
		.scrollBottom__svg {
			// transform: rotate(-90deg);
		}
		.scrollBottom__value {
			stroke-dasharray: 339.292;
			stroke-dashoffset: 0;
		}
	}
}
