mixin sAbout(data)
	// start sAbout
	+b.SECTION.sAbout.section#sAbout&attributes(attributes)
		.container
			+e.mainRow 
				.col-md-6.col-lg-12
					+e.row.row
						.col-xl-6
							+e.wrap
								h3 Решения
								p Мы&nbsp;спроектировали и&nbsp;отработали в&nbsp;производственных условиях большое количество решений по&nbsp;паллетированию и&nbsp;групповой упаковке бутылей, канистр, коробов, продуктов в&nbsp;мягкой таре, мешков и&nbsp;прочей упаковки. Предлагаем Вам ознакомиться с&nbsp;нашим опытом.
								+e.roww.row.align-items-center.justify-content-between
									.col-auto
										+link
									.col-auto
										+e.count
						.col-xl-6 
							+e.imgWrap
								+pic('borjomi.jpg')
				.col-md-6.col-lg-12
					+e.row.row
						.col-xl-6
							+e.wrap
								h3 Решения
								p Мы&nbsp;спроектировали и&nbsp;отработали в&nbsp;производственных условиях большое количество решений по&nbsp;паллетированию и&nbsp;групповой упаковке бутылей, канистр, коробов, продуктов в&nbsp;мягкой таре, мешков и&nbsp;прочей упаковки. Предлагаем Вам ознакомиться с&nbsp;нашим опытом.
								+e.roww.row.align-items-center.justify-content-between
									.col-auto
										+link
									.col-auto
										+e.count
						.col-xl-6 
							+e.imgWrap
								+pic('equipment.jpg')
	// end sAbout