mixin sAbout(data)
	// start sAbout
	+b.SECTION.sAbout.section#sAbout&attributes(attributes)
		.container
			+e.mainRow.row 
				+e.col.col-md-6.col-lg-12
					+e.row.row
						.col-lg-6.order-lg-last 
							+e.imgWrap(href="#")
								+pic('borjomi.jpg')
						.col-lg-6
							+e.wrap
								h3 Решения
								p Мы&nbsp;спроектировали и&nbsp;отработали в&nbsp;производственных условиях большое количество решений по&nbsp;паллетированию и&nbsp;групповой упаковке бутылей, канистр, коробов, продуктов в&nbsp;мягкой таре, мешков и&nbsp;прочей упаковки. Предлагаем Вам ознакомиться с&nbsp;нашим опытом.
								+e.roww.row.align-items-center.justify-content-between
									.col-auto
										+link
									.col-auto
										+e.count 01

				+e.col.col-md-6.col-lg-12
					+e.row.row
						.col-lg-6.order-lg-last
							+e.imgWrap(href="#")
								+pic('equipment.jpg')
						.col-lg-6
							+e.wrap
								h3 Оборудование
								p Мы&nbsp;предлагаем оборудование, при котором проектирование, разработка управляющих программ и&nbsp;выбор компоновочных решений будет эффективны на&nbsp;вашем производстве.
								+e.roww.row.align-items-center.justify-content-between
									.col-auto
										+link
									.col-auto
										+e.count 02

	// end sAbout