extends layout/main.pug


include ../blocks/sContent/_sContent.pug
include ../blocks/sContact/_sContact.pug

block variables
	- let  mainPage= null 
	- let  bg= null

block title
	- let  title= 'ARTECH'
	title= title
block pagecontent
	script.
		//- let screenName = 'main-1920.jpg'
		let screenName = 'main-1320.jpg'
		//- let screenName = 'main-1140.jpg'
		//- let screenName = 'mian-960.jpg'
		//- let screenName = 'main-720.jpg'
		//- let screenName = 'main_540.jpg'

	//- +mob-mnu()
	+header()
		+top-nav()
	//- +topLine()

	.container-fluid.section
		.mb-3
			+btn-primary
		.mb-3
			a.btn.btn-outline-primary(href="#") Связаться с нами
		.mb-3
			+soc()
		.mb-3
			+soc().light
		.mb-3
			+pugin
		.mb-3 
			+link()
		.mb-3 
			+breadcrumb('Главная','Оборудование','Формирователи гофрокоробов')
		.mb-3.bg-dark
			+breadcrumb('Главная','Оборудование','Формирователи гофрокоробов').light
		.mb-3
			a.btn.btn-primary.link-modal-js(href="#modal-call") Разработаем решение под ваши задачи
		.mb-3
			a.btn.btn-primary.link-modal-js(href="#modal-thanks") Спасибо за обращение!
		.mb-3
			a.btn.btn-primary.link-modal-js(href="#modal-questionnaire") Карточка партнера
	+footer()


