extends layout/main.pug


include ../blocks/sContent/_sContent.pug
include ../blocks/sContact/_sContact.pug
include ../blocks/sEquipments/_sEquipments.pug

block variables
	- let  mainPage= null 
	- let  bg= null

block title
	- let  title= '4. Оборудование'
	title= title
block pagecontent
	script.
		let screenName = '02-1920.jpg'
		//- let screenName = '09_1140.jpg'
		//- let screenName = '9-960.jpg'
		//- let screenName = '9-720.jpg'
		//- let screenName = '9-540.jpg'

	//- +mob-mnu()
	+header().header-inner
		+top-nav()
		.container 
			+breadcrumb('Главная','Оборудование')
		+page-head 
			h1 Оборудование
			+form-wrap
				.row
					.col
						+input('Поиск по оборудованию')
					+e.col-btn.col-auto
						+e.btn.btn.btn-primary(type="submit") 
							+icon("search")
							span Найти
	
	+b.main-block.section
		+sEquipments
		+sContent
			h2 Оборудование для групповой упаковки и&nbsp;укладки на&nbsp;поддон
			p Специалисты нашей компании работают на рынке робототехники более десяти лет. На наших глазах и нашими руками промышленная роботизация возрождалась в России.

			p Узнайте подробнее о том, почему мы выбрали для себя направление по автоматизации групповой упаковки и укладки, почему мы считаем, что глубокие знания технологии упаковки необходимы для нашей работы, узнайте историю развития нашей компании, наши цели и планы.
			
	//- .container.section
	//- 	.mb-3
	//- 		+btn-primary
	//- 	.mb-3
	//- 		a.btn.btn-outline-primary(href="#") Связаться с нами
	//- 	.mb-3
	//- 		+soc()
	//- 	.mb-3
	//- 		+soc().light
	//- 	.mb-3
	//- 		+pugin
	//- 	.mb-3 
	//- 		+link()
	//- 	.mb-3 
	//- 		+breadcrumb('Главная','Оборудование','Формирователи гофрокоробов')
	//- 	.mb-3.bg-dark 
	//- 		+breadcrumb('Главная','Оборудование','Формирователи гофрокоробов').light
	+footer()

mixin btn-primary(t='Подробнее о компании')
	a.btn.btn-primary.btn-primary(href="#")&attributes(attributes)!= t
		+icon('arrow-r')

mixin link(t= 'Подробнее')
	a.link(href="#")&attributes(attributes)!= t

