extends layout/main.pug


include ../blocks/sContent/_sContent.pug
include ../blocks/sContact/_sContact.pug
include ../blocks/sAbout/_sAbout.pug
include ../blocks/sAboutText/_sAboutText.pug

block variables
	- let  mainPage= 'main-page' 
	- let  bg= null

block title
	- let  title= 'ARTECH'
	title= title
block pagecontent
	script.
		//- let screenName = 'main-1920.jpg'
		//- let screenName = 'main-1320.jpg'
		//- let screenName = 'main-1140.jpg'
		//- let screenName = 'mian-960.jpg'
		//- let screenName = 'main-720.jpg'
		//- let screenName = 'main_540.jpg'

	//- +mob-mnu()
	+header()
		+top-nav()
	//- +topLine()
	main.main-overflow( data-wow-delay="2s" href="#sAbout")
		+headerBlock()
		+sAbout
		+sAboutText
	+footer()




