// start .sTimeLine
.sTimeLine {
	// --sPT: ;
	// --sPB: ;
	// --sTPB: ;

	@include media-breakpoint-up(sm) {
	}
	@include media-breakpoint-between(md, xxl) {
	}
	@include media-breakpoint-only(xl) {
	}
	@include media-breakpoint-down(xl) {
	}
} // end.sTimeLine

.swiper-pagination--year{
	display: flex;
	width: 100%;
	span {
		flex-grow: 1;
		display: flex;
	}
}