mixin sTimeLine(data)
	// start sTimeLine
	+b.SECTION.sTimeLine.section#sTimeLine&attributes(attributes)
		.container
			+b.section-title
				h2 sTimeLine
				
			.section__inner
			.row
	// end sTimeLine