mixin sLogos(data)
	// start sLogos
	+b.SECTION.sLogos.section#sLogos&attributes(attributes)
		.container
			+b.section-title
				h2 Компании, которые используют решения АРТЕХ 
			.row
				- for (var x = 1; x < 9; x++)
					+e.col.col-lg-3.col-6 
						+e.item 
							+pic(`logo-${x}.png`,'',0)
	// end sLogos