mixin s404(data)
	// start s404
	+b.SECTION.s404.section#s404&attributes(attributes)

		h1 Страница не найдена
		p Неправильно набран адрес, или такой страницы не&nbsp;существует.
		+e.title 
			span 4
			| 04
			+e.img 
				img(src="img/@2x/webp/404.webp", alt="")

		+e.btn.btn.btn-primary(href="/") Вернуться на главную
	// end s404