// start .s404
.s404 {
	// --sTPB: ;
	@include media-breakpoint-up(xxl) {
		--sPT: #{rem(90)};
		--sPB: #{rem(90)};
	}
	// --sPT: ;
	@include media-breakpoint-up(xl) {
		--sPT: #{rem(40)};
		--sPB: #{rem(40)};
	}
	// --sPT: ;
	// --sPB: ;
	// padding-bottom: calc(var(--sPB) * 1.1);
	max-width: 100vw;
	width: 100%;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	position: relative;
	overflow: hidden;
	justify-content: center;

	&__btn {
		position: relative;
		z-index: 10;
		width: rem(264px);
		height: rem(60px);
		// margin-top: auto;
	}
	&__title {
		position: relative;
		@include media-breakpoint-up(xxl) {
			font-size: rem(500);
		}
		// line-height: .8;
		line-height: 1;
		@include rfs(400px);
		font-weight: 900;
		color: #fff;
		span {
			position: relative;
			z-index: 4;
		}
	}

	h1,
	p {
		position: relative;
		z-index: 10;
	}

	p {
		@include media-breakpoint-down(md) {
			max-width: rem(540);
			margin-left: auto;
			margin-right: auto;
		}
	}

	&__img {
		position: absolute;
		@include media-breakpoint-up(sm) {
			width: em(22);
			transform: rotate(0);
			right: 44%;
			top: 34%;
		}
		top: 0%;
		right: 62%;
		width: em(32);
		transform: rotate(20deg);
		img {
			@extend .res-i;
		}
	}

	.container,
	&__inner {
		min-height: calc(100vh - var(--sPB) - var(--sPT));
	}

	&__inner {
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;

		h1 {
			@include media-breakpoint-up(lg) {
				margin-bottom: rem(48);
			}
			margin-top: rem(30);
		}

		p {
			@include media-breakpoint-up(lg) {
				margin-bottom: rem(60);
			}
		}
	}

	&__logo {
		margin-bottom: auto;
		display: inline-block;
	}

	&__row {
		margin-bottom: auto;
		@include roww(24px);
		width: 100%;
		max-width: calc((312px * 4) + (24px * 3));
	}

	&__col {
		padding-bottom: rem(24);
	}

	&__link {
		display: flex;
		flex-direction: column;
		height: 100%;
		background-color: #fff;
		text-decoration: none;
		padding: rem(23);
		color: $body-color !important;
	}

	&__text {
		font-weight: 600;
		padding-top: rem(26);
	}

	&--browser {
		background-color: $body-bg;
	}

	@include media-breakpoint-up(sm) {
	}
	@include media-breakpoint-between(md, xxl) {
	}
	@include media-breakpoint-only(xl) {
	}
	@include media-breakpoint-down(xl) {
	}
} // end.s404
