$h: 3px;

.toggle-menu-mobile {
	cursor: pointer;
	display: block;
	height: $h * 12;
	position: relative;
	color: $primary;
	font-size: 32px;
	width: 40px;

	&.on {
		// color: #ffffff;
	}

	span:after,
	span:before {
		content: "";
		position: absolute;
		left: 0;
	}

	span {
		@include a-cent(y);
	}

	span:before {
		top: $h * 2.7;
		@include media-breakpoint-only(md) {
			// top: $h * 3;
		}
		@include media-breakpoint-only(lg) {
			top: $h * 3.5;
		}
	}

	span:after {
		bottom: $h * 2.7;
		@include media-breakpoint-only(md) {
			// bottom: $h * 3;
		}
		@include media-breakpoint-only(lg) {
			bottom: $h * 3.5;
		}
	}

	span {
		display: block;
	}

	span,
	span:after,
	span:before {
		// width: 32px;
		// width: 1em;
		height: $h;
		background-color: currentColor;
		transition: all 0.3s;
		backface-visibility: hidden;
		// border-radius: 6px;
		transform-origin: 50% 50%;
	}

	span {
		width: 20px;
		background: $primary;
	}

	span:after {
		width: 40px;
		background: #8c8c8c;
	}

	span:before {
		width: 32px;
		background: #8c8c8c;
	}

	// &.on {
	// 	// opacity: 0;
	// }

	&.on span {
		background-color: transparent;
	}

	&.on span:after,
	&.on span:before {
		top: 0;
		bottom: 0;
		width: rem(30);
	}

	&.on span:before {
		transform: rotate3d(0, 0, 1, 45deg);
	}

	&.on span:after {
		transform: rotate3d(0, 0, 1, -45deg);
	}
}

.menu-mobile {
	position: absolute !important;
	z-index: 999;
	max-width: 100%;
	// height: calc(var(--vh, 1vh) * 100);
	width: 100%;

	// top: 91px;
	// @include media-breakpoint-up(md) {
	// 	top: 138px;
	// }

	// @include media-breakpoint-up(xl) {
	// 	top: 141px;
	// }
	top: 100%;
	// left: 0;
	// right: 0;
	left: 0px;
	&:not(.active) {
		transform: translate3d(120%, 0, 0);
		opacity: 0;
	}
	@include mt(0.6);
	will-change: transform;

	&__inner {
		background-color: #e5e5e5;
		padding: 0 0 rem(20);
		overflow-x: hidden;
		overflow-y: auto;
		-webkit-overflow-scrolling: touch;
		height: 100%;
		border-top: solid 1px #fff;
		border-bottom: solid 1px #fff;
	}

	&__search {
		position: relative;
		z-index: 2;

		// &::before {
		// 	content: "";
		// 	z-index: -1;
		// 	position: absolute;
		// 	top: 0;
		// 	height: 100%;
		// 	width: 200vw;
		// 	left: -50vw;
		// 	background-color: #fff;
		// }

		.icon {
			font-size: rem(20);
			color: $primary;
		}
	}

	&__input {
		border-width: 0;
		padding-left: 0;
		padding-top: rem(10);
		padding-bottom: rem(10);
		font-size: rem(20);
		@include media-breakpoint-up(md) {
			font-size: rem(30);
			padding-top: rem(20);
			padding-bottom: rem(20);
		}
	}

	&__btnSearch {
		@include a-cent(y);
		right: rem(10);
		background: transparent;
		border: none;
	}

	&.active {
		.toggle-menu-mobile {
			opacity: 1;
		}
	}

	.toggle-menu-mobile {
		// position: relative;
		cursor: pointer;
		margin-left: -15%;
		position: absolute;
		opacity: 0;
		left: 0;
		right: auto;
		color: #fff;
		top: 10px;
		z-index: 9999;
		background-color: transparent;

		span,
		span:after,
		span:before {
			background-color: #fff;
		}

		&.on {
			opacity: 1;

			span {
				background-color: transparent;
			}
		}
	}

	&__contacts {
		padding-top: rem(10);
		padding-bottom: rem(10);
		display: flex;
		flex-direction: column;
		text-align: center;
	}

	&__tel {
		font-size: rem(20);
		margin-bottom: rem(5);
		font-weight: 600;
		text-decoration: none;
		color: $body-color !important;
	}

	&__mail {
		font-size: rem(20);
		text-decoration: none;
		color: #8f9597;
	}

	&__lang {
		display: flex;
		align-items: center;
		text-decoration: none;
		color: $body-color !important;
		img {
			margin-right: rem(10);
		}
	}

	.navMenu {
		padding-bottom: rem(10);
		&__link {
			font-weight: 600;
			position: relative;
			z-index: 2;
			text-align: left;
			padding-top: rem(10);
			padding-bottom: rem(10);
			font-size: rem(20);
			@include media-breakpoint-up(md) {
				font-size: rem(30);
				padding-top: rem(20);
				padding-bottom: rem(20);
			}

			&::after {
				content: "";
				z-index: -1;
				position: absolute;
				top: 0;
				height: 100%;
				width: 200vw;
				left: -50vw;
				background-color: rgba($color: #fff, $alpha: 0.5);
				opacity: 0;
				@include mt;
			}

			&::before {
				left: -50vw;
				width: 200vw;
				background-color: #fff;
			}
		}
		&__item {
			&.active,
			&:hover {
				.navMenu__link {
					color: $primary;
					&::after {
						opacity: 1;
					}
				}
			}
		}
	}
}
