mixin mob-mnu()
	+b.menu-mobile--js.d-xxl-none
		//- +b.toggle-menu-mobile--js.on
			span
		+e.inner
			.container
				+e.contacts.d-md-none.text-center 
					+e.tel(href="tel:+73472210790") +7 (347) 221-07-90
					+e.mail(href="mailto:") 
						span info@artech.si
				+e.search
					+input('Поиск по сайту')
					+e.btnSearch(type="submit")
						+icon('search')
				+mnu()
				+e.lang.d-md-none(href="#") 
					img(src="img/svg/lang.svg" alt="")
					span English

	//  мобильное меню
mixin top-nav() 
	// start top-nav
	+b.top-nav.block-with-lazy(class="wow  animate__fadeIn"  data-wow-delay="1s" )
		+mob-mnu
		.container.container--fluid
			.row.align-items-center
				.col-auto.d-xxl-none.order-1.order-md-last
					+b.toggle-menu-mobile--js
						span
				+e.col.col.col-md-auto.order-2.order-md-1
					+e.logo(href="/")
						+e.logoTopBlock.d-none.d-md-block(src="img/svg/logo-top.svg" alt="")
						img(src="img/svg/logo-sm.svg" alt="")
				.col.d-none.d-xxl-block.order-1
					+mnu()
				.col-auto.order-1.order-xxl-5.d-none.d-md-block
					+e.lang(href="#") 
						img(src="img/svg/lang.svg" alt="")
				.col-auto.col-md.col-xxl-auto.order-3
					+e.contactWrap 
						+e.tel(href="tel:+73472210790") +7 (347) 221-07-90
						+e.mail(href="mailto:") 
							span info@artech.si
							+icon('mail')
				.col-auto.order-4.d-none.d-md-block
					a.btn.btn-outline-primary.link-modal-js(href="#modal-call") Связаться с нами
				.col-auto.d-none.d-xxl-block.order-4
					+e.search.link-modal-js(href="#modal-search")
						+icon('search')


	// end top-nav