mixin mob-mnu()
	+b.menu-mobile--js.d-xxl-none
		//- +b.toggle-menu-mobile--js.on
			span
		+e.inner
			+e.contacts.d-md-none.text-center 
				.container
					+e.tel(href="tel:+73472210790") +7 (347) 221-07-90
					br
					+e.mail(href="mailto:") 
						span info@artech.si
			+e.search
				.container
					+input('Поиск по сайту')
					+e.btnSearch(type="submit")
						+icon('search')
			+mnu()

	//  мобильное меню
mixin top-nav() 
	// start top-nav
	+b.top-nav.block-with-lazy.opacity-0
		+mob-mnu
		.container.container--fluid
			+e.row.row.align-items-center
				.col-auto.d-xxl-none.order-1.order-md-last
					+e.toggle-menu-wrap
						+b.toggle-menu-mobile--js
							span
				+e.col.col.col-md-auto.order-2.order-md-1
					+e.logo(href="/")
						img.logo-full.d-none.d-md-block(src="img/svg/logo.svg" alt="")
						img.logo-text(src="img/svg/logo-sm.svg" alt="")
				.col.d-none.d-xxl-block.order-1
					+mnu()
				.col-auto.order-1.order-xxl-5.d-none.d-md-block
					+e.lang(href="#") 
						img(src="img/svg/lang.svg" alt="")
				.col-auto.col-md.col-xxl-auto.order-3
					+e.contactWrap 
						+e.tel(href="tel:+73472210790") +7 (347) 221-07-90
						+e.mail(href="mailto:") 
							span info@artech.si
							+icon('mail')
				.col-auto.order-4.d-none.d-md-block
					a.btn.btn-outline-primary.link-modal-js(href="#modal-call") Связаться с нами
				.col-auto.d-none.d-xxl-block.order-4
					+e.search.link-modal-js(href="#modal-search")
						+icon('search')


	// end top-nav