.top-nav {
	position: sticky;
	left: 0;
	// left: 200px;
	// right: -200px;
	// margin-right: -200px;
	top: 0;
	left: 0;
	z-index: 800;
	// background-color: #fff;
	// border-bottom: 1px solid #000;
	// --color-link: 255,
	// 0,
	// 0;
	// background-color: #{rgba(var(--color-link), .5)};
	padding-top: rem(24);
	padding-bottom: rem(24);

	&.fixed {
		bottom: auto;
		margin-top: 0;
	}
	.row {
	}

	&__contactWrap {
		text-align: right;
		display: flex;
		flex-direction: column;
	}

	&__tel {
		text-decoration: none;
		color: #263237 !important;
	}

	&__mail {
		text-decoration: none;
		color: #8f9597 !important;
	}

	&__btn {
	}

	&__logo {
		display: flex;
		flex-direction: column;
	}

	&__logoTopBlock {
		margin-bottom: rem(4);
	}

	&__search {
		.icon {
			font-size: rem(20);
			color: $body-color;
		}
	}

	@include media-breakpoint-up(xs) {
	}
	@include media-breakpoint-between(md, xl) {
	}
	@include media-breakpoint-only(xl) {
	}
	@include media-breakpoint-down(xs) {
	}
}

.container-fluid {
	max-width: 1770px;
}
