.top-nav {
	position: relative;
	// left: 0;
	// left: 200px;
	// right: -200px;
	// margin-right: -200px;
	// top: 0;
	// left: 0;
	z-index: 1000;
	// background-color: #fff;
	// border-bottom: 1px solid #000;
	// --color-link: 255,
	// 0,
	// 0;
	// background-color: #{rgba(var(--color-link), .5)};
	padding-top: rem(24);
	padding-bottom: rem(24);
	@include media-breakpoint-between(md, xxl) {
		padding-top: rem(30);
		padding-bottom: rem(30);
	}
	@include media-breakpoint-down(md) {
		border-bottom: solid 2px #fff;
	}

	.container--fluid {
		.toggle-menu-mobile {
			&.on {
				pointer-events: none;
			}
		}
	}

	&.fixed {
		bottom: auto;
		margin-top: 0;
	}
	.row {
	}

	&__contactWrap {
		display: flex;
		align-items: center;
		justify-content: flex-end;
		@include media-breakpoint-up(xxl) {
			align-items: flex-end;
			flex-direction: column;
			justify-content: center;
		}
		@include media-breakpoint-only(md) {
			align-items: flex-end;
			flex-direction: column;
			justify-content: center;
		}
		@include media-breakpoint-up(xxxl) {
			padding-right: rem(20);
		}
	}

	&__tel {
		font-weight: 600;
		text-decoration: none;
		color: #263237 !important;
		@include media-breakpoint-down(md) {
			display: none;
		}
	}

	&__mail {
		text-decoration: none;
		color: #8f9597 !important;

		@include media-breakpoint-down(xxl) {
			margin-left: rem(30);
		}
		@include media-breakpoint-down(md) {
			margin-left: 0;
		}

		.icon {
			color: #8c8c8c;
			font-size: rem(28);
			@include media-breakpoint-up(md) {
				display: none;
			}
		}

		span {
			@include media-breakpoint-down(md) {
				display: none;
			}
		}
	}

	.toggle-menu-mobile {
		@include media-breakpoint-between(md, xxl) {
			margin-left: rem(30);
		}
	}

	&__logo {
		display: flex;
		@include media-breakpoint-up(md) {
			flex-direction: column;
			margin-right: rem(15);
		}
		@include media-breakpoint-up(xl) {
			margin-right: rem(25);
		}

		@include media-breakpoint-up(xxxl) {
			margin-right: rem(85);
		}
		@include media-breakpoint-down(md) {
			justify-content: center;

			img {
				width: rem(171px);
			}
		}

		@include media-breakpoint-down(xxl) {
			width: rem(100px);
		}
		@include media-breakpoint-between(md, xxl) {
			width: rem(110);
		}
		@include media-breakpoint-only(xxl) {
			width: rem(115);
		}
		@include media-breakpoint-down(md) {
			margin-left: auto;
			margin-right: auto;
			width: auto;
			img {
				width: rem(170);
			}
		}
	}

	&__logoTopBlock {
		@include media-breakpoint-up(xl) {
			margin-bottom: rem(4);
		}
	}

	&__search {
		display: inline-block;
		@include media-breakpoint-up(xxxl) {
			margin-left: rem(19);
		}
		.icon {
			font-size: rem(20);
			color: $body-color;
		}
	}

	&__lang {
		display: inline-block;
		@include media-breakpoint-up(xxxl) {
			margin-right: rem(27);
			margin-left: rem(17);
		}

		@include media-breakpoint-between(md, xxl) {
			margin-left: rem(10);
		}
	}

	@include media-breakpoint-up(xs) {
	}
	@include media-breakpoint-between(md, xl) {
	}
	@include media-breakpoint-only(xl) {
	}
	@include media-breakpoint-down(xs) {
	}
}
