// start .header
.header {
	&-inner {
		background-color: #fff;
		.top-nav {
			padding-top: rem(23);
			padding-bottom: rem(23);
			@include media-breakpoint-up(xl) {
				padding-top: rem(17);
				padding-bottom: rem(17);
			}
			@include media-breakpoint-between(md, xxl) {
				padding-top: rem(24);
				padding-bottom: rem(24);
			}

			&__logoTopBlock {
				margin-bottom: 0;
			}
		}

		.menu-mobile {
			top: 89px;
			@include media-breakpoint-up(md) {
				top: 127px;
			}
			@include media-breakpoint-up(xl) {
				top: 127px;
			}
		}
	}
	@include media-breakpoint-up(xs) {
	}
	@include media-breakpoint-between(md, xl) {
	}
	@include media-breakpoint-only(xl) {
	}
	@include media-breakpoint-down(xs) {
	}
} // end.header
