// start .header
.main-wrapper{
	
	// @include media-breakpoint-up(xl) {
	// 	--top-line-height: #{rem(120)};
	// }
	// @include media-breakpoint-between(md, xxl) {
	// 	--top-line-height: #{rem(160)};
	// }
	padding-top: var(--top-line-height);
}
body:not(.main-page) .header{
	background-color: #fff;
		position: relative;
		&::before{
			content: '';
			position: absolute;
			bottom: 99%;
			left: 0;
			width: 100%;
			height: 100%;
			background-color: #fff;
		}
			// &__logoTopBlock {
			// 	margin-bottom: 0;
			// }
}

.header {
	img{
		@include mt;
	}
	// position: absolute;
	// position: fixed;

	// position: absolute;
	// position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	// z-index: 200;
	// --spy: #{rem(23)};
	
	@include media-breakpoint-up(xl) {
				--sp: #{rem(17)};
			}
			@include media-breakpoint-between(md, xxl) {
				--sp: #{rem(24)};
			}
	&-inner {
		
		.top-nav {
			
			// padding-top: var(--sp);
			// padding-bottom: var(--sp);

		
		}

		// .menu-mobile {
		// 	top: 89px;
		// 	@include media-breakpoint-up(md) {
		// 		top: 127px;
		// 	}
		// 	@include media-breakpoint-up(xl) {
		// 		top: 127px;
		// 	}
		// }
	}

	@include media-breakpoint-up(xs) {
	}
	@include media-breakpoint-between(md, xl) {
	}
	@include media-breakpoint-only(xl) {
	}
	@include media-breakpoint-down(xs) {
	}
} // end.header
