//- pugination
mixin pugin()

	.pagination-wrapper
		ul.page-numbers
			mixin li(n)
				li
					if n
						a.page-numbers(href='#')&attributes(attributes)= n 
					else
						block
			+li()
				span.prev.page-numbers.disabled( )
					+icon('chevron-l')
			+li()
				span.page-numbers.current  1
			//- - for (var x = 2; x < 5; x++)
			+li('2')
			+li('3')
			+li('...').default
			+li('7')
			+li()
				a.next.page-numbers(href='#')
					+icon('chevron-r')